.container {
  margin-top: 30px;
}

h1 {
  text-align: center;
}

#form {
  text-align: center;
  justify-content: center;
}

.bio {
  overflow-y: scroll;
  resize: none;
  height: 480px;
  padding: 15px;
}

.info {
  padding: 30px;
}